body {
  margin: 0; }

h1, h2, h3, h4, h5 {
  color: #43414e;
  font-family: "Josefin Sans", sans-serif; }

p {
  color: #6e7076;
  font-family: "Roboto", sans-serif; }

ul {
  font-family: "Josefin Sans", sans-serif; }

#header nav {
  padding: 1.75rem 2.3rem 0 2.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #header nav h1 {
    font-size: 1rem; }
  #header nav ul {
    display: none; }

#hero {
  margin-top: 2rem; }
  #hero .textContainer {
    max-width: 80%;
    margin: 0 auto; }
    #hero .textContainer h1 {
      font-size: 1.7rem; }
    #hero .textContainer p {
      font-size: 1.1rem;
      line-height: 1.6rem; }
    #hero .textContainer button {
      font-family: "Josefin Sans", sans-serif;
      font-size: .8rem;
      border-radius: 6px;
      background-color: #ac00e6;
      padding: 1.1rem 1.7rem;
      color: #fff;
      border: none;
      text-transform: uppercase;
      cursor: pointer; }
  #hero .imgContainer {
    margin-top: 3rem; }
    #hero .imgContainer img {
      max-width: 100%; }

#services {
  margin: 0;
  margin-top: 5rem;
  margin-bottom: 3rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: #f0f0f5; }
  #services #titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #services #titleContainer h2 {
      font-size: 28px;
      margin: 0; }
    #services #titleContainer p {
      font-size: 16px;
      margin: .3rem auto; }
  #services #iconsContainer {
    margin-top: 3rem; }
    #services #iconsContainer .box {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding-bottom: 2rem; }
      #services #iconsContainer .box img {
        max-height: 160px; }
      #services #iconsContainer .box h3 {
        margin: 2rem 0 .5rem; }
      #services #iconsContainer .box p {
        max-width: 70%;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        margin: .3rem 0; }

#features {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto; }
  #features #textFeature h2 {
    font-size: 28px;
    text-align: center;
    padding: 0 1rem; }
  #features #textFeature ul {
    font-family: "Roboto", sans-serif;
    color: #6e7076;
    list-style: none;
    padding-left: 0px;
    max-width: 80%;
    margin: 0 auto; }
    #features #textFeature ul li {
      padding: .5rem 0px;
      line-height: 1.5rem; }
    #features #textFeature ul .iconoOK::before {
      font-family: "Font Awesome 5 Free";
      content: "\f058";
      padding-right: 1rem;
      color: #ac00e6; }
  #features #imageFeature img {
    max-width: 100%; }

#prices {
  background-color: #600080;
  margin-top: 3rem;
  padding-bottom: 0rem; }
  #prices h2 {
    font-size: 28px;
    text-align: center;
    color: #fff;
    padding-top: 5rem; }
  #prices .container {
    padding-top: 0rem;
    padding-bottom: 0rem;
    color: #fff;
    display: flex;
    flex-direction: column; }
    #prices .container .boxPrice {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2rem auto 2rem; }
      #prices .container .boxPrice h5 {
        color: #fff !important;
        margin: 1rem 0; }
      #prices .container .boxPrice .priceNumber {
        font-size: 58px;
        font-weight: 700;
        margin: .5rem 0;
        color: #d24dff; }
      #prices .container .boxPrice ul {
        list-style: none;
        padding-left: 0;
        text-align: center; }
        #prices .container .boxPrice ul li {
          margin: .7rem 0; }
      #prices .container .boxPrice button {
        font-family: "Roboto", sans-serif;
        font-size: .8rem;
        border: 2px solid #fff;
        border-radius: 33px;
        background-color: transparent;
        padding: 20px 35px;
        color: #fff; }
  #prices #ulContainer {
    padding-bottom: 6rem; }
    #prices #ulContainer p {
      font-size: 18px;
      line-height: 27px;
      color: #fff;
      padding: 1rem 2rem; }
    #prices #ulContainer a {
      color: #fff;
      text-decoration: none;
      border-bottom: 2px solid lightblue; }
    #prices #ulContainer .iconoOK::before {
      font-family: "Font Awesome 5 Free";
      content: "\f058";
      padding-right: 1rem;
      color: #fff; }
    #prices #ulContainer ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0; }
      #prices #ulContainer ul li {
        color: #fff;
        margin: .5rem 0 0 0;
        text-align: center; }

#proccess {
  margin-top: 5rem;
  margin-bottom: 5rem; }
  #proccess #imgTitle h2 {
    text-align: center;
    margin: 0 1rem; }
  #proccess #imgTitle img {
    max-width: 100%; }
  #proccess #proccesses {
    display: flex;
    flex-direction: column; }
    #proccess #proccesses .box {
      max-width: 85%;
      margin: 0 auto 1rem;
      text-align: center; }
      #proccess #proccesses .box p {
        font-size: 16px;
        line-height: 24px; }

@media screen and (min-width: 600px) {
  #header nav {
    max-width: 80%;
    margin: 0 auto; }

  #hero {
    margin-top: 5rem; }
    #hero .textContainer {
      max-width: 80%; }
    #hero .imgContainer {
      margin-top: 5rem; }

  #services #iconsContainer .box {
    max-width: 80%; }

  #features {
    max-width: 85%; }
    #features #textFeature h2 {
      font-size: 28px;
      text-align: center;
      padding: 0 1rem; }
    #features #textFeature ul {
      max-width: 50%; }
    #features #imageFeature {
      display: flex;
      justify-content: center; }
      #features #imageFeature img {
        max-width: 100%; }

  #prices #ulContainer ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0; }
    #prices #ulContainer ul .iconoOK::before {
      padding-left: 30px; }
    #prices #ulContainer ul li {
      color: #fff;
      margin: .5rem 0 0 0;
      text-align: center; }

  #proccess {
    margin-top: 5rem; }
    #proccess #proccesses .box {
      max-width: 75%; }
      #proccess #proccesses .box p {
        text-align: left; } }
@media screen and (min-width: 600px) and (max-width: 1024px) and (orientation: landscape) {
  h1 {
    color: red; } }
@media screen and (min-width: 768px) {
  #header nav {
    max-width: 85%; }
    #header nav i {
      display: none; }
    #header nav ul {
      display: flex;
      width: 25%;
      margin-right: 5%;
      justify-content: space-between;
      list-style: none; }
      #header nav ul li {
        font-size: .9rem;
        font-weight: 700; }
        #header nav ul li a {
          text-decoration: none;
          color: #ac00e6;
          cursor: pointer; }

  #hero {
    display: grid;
    grid-template-columns: 7% 38% 55%;
    grid-template-rows: 25% 25% 25% 25%;
    max-width: 100%;
    margin: 5rem auto 0; }
    #hero .textContainer {
      grid-column: 2 / 3;
      grid-row: 1 / 5;
      max-width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      #hero .textContainer h1 {
        margin: 1rem auto 0 auto; }
      #hero .textContainer button {
        font-family: 'Merriweather Sans', sans-serif;
        font-size: .8rem;
        border-radius: 6px;
        background-color: #ac00e6;
        padding: 1rem 1.4rem;
        color: #fff;
        border: none;
        text-transform: uppercase;
        max-width: 9rem; }
    #hero .imgContainer {
      grid-column: 3 / 4;
      grid-row: 1 / 5;
      margin-top: 0rem;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      #hero .imgContainer img {
        max-width: 100%; }

  #services {
    margin: 0;
    margin-top: 7rem;
    margin-bottom: 6rem; }
    #services #titleContainer h2 {
      font-family: "Josefin Sans", sans-serif;
      font-size: 28px;
      margin: 0; }
    #services #titleContainer p {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      margin: .3rem auto; }
    #services #iconsContainer {
      display: grid;
      grid-template-columns: 33.3% 33.3% 33.3%;
      grid-template-rows: 1fr;
      max-width: 95%;
      margin: 5rem auto 0; }
      #services #iconsContainer .box {
        max-width: 100%;
        padding-bottom: 0rem; }
      #services #iconsContainer #box1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2; }
      #services #iconsContainer #box2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2; }
      #services #iconsContainer #box3 {
        grid-column: 3 / 4;
        grid-row: 1 / 2; }

  #features {
    max-width: 90%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 25% 25% 25% 25%;
    margin: 0 auto 3rem auto; }
    #features #textFeature {
      display: flex;
      flex-direction: column;
      justify-content: center;
      grid-row: 1 / 5;
      grid-column: 1 / 2; }
      #features #textFeature ul {
        max-width: 80%; }
    #features #imageFeature {
      grid-row: 1 / 5;
      grid-column: 2 / 3; }

  #prices h2 {
    font-size: 32px; }
  #prices .container {
    padding-top: 0rem;
    padding-bottom: 0rem;
    max-width: 90%;
    margin: 0 auto;
    color: #fff;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%; }
    #prices .container .boxPrice {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2rem auto 2rem; }
  #prices #ulContainer {
    max-width: 80%;
    margin: 0 auto; }
    #prices #ulContainer p {
      text-align: center;
      margin-bottom: 0rem; }
    #prices #ulContainer ul {
      display: flex;
      justify-content: center;
      margin-top: 0rem; }
      #prices #ulContainer ul li {
        align-self: center; }

  #proccess #imgTitle {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #proccess #imgTitle h2 {
      margin: 0 10rem; }
    #proccess #imgTitle img {
      max-width: 60%;
      margin: 0 auto; }
  #proccess #proccesses {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 1fr; }
    #proccess #proccesses .box {
      max-width: 80%;
      margin: 0 auto 1rem;
      text-align: center; }
      #proccess #proccesses .box h3 {
        text-align: center; }
      #proccess #proccesses .box p {
        text-align: center; } }
@media screen and (min-width: 1024px) {
  #header nav {
    max-width: 85%; }

  #hero {
    display: grid;
    grid-template-columns: 7% 38% 55%;
    grid-template-rows: 25% 25% 25% 25%;
    max-width: 100%;
    margin: 5rem auto 0; }
    #hero .textContainer {
      grid-column: 2 / 3;
      grid-row: 1 / 5; }
      #hero .textContainer h1 {
        font-size: 2.3rem;
        line-height: 3rem;
        margin: 1rem auto 0 auto;
        padding-right: 4rem; }
      #hero .textContainer p {
        font-size: 1rem;
        line-height: 1.5rem;
        padding-right: 6rem; }

  #services {
    padding-bottom: 4rem;
    margin-top: 4rem; }

  #prices h2 {
    font-size: 32px; }
  #prices .container {
    max-width: 90%;
    margin: 0 auto;
    color: #fff;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    grid-column-gap: .3rem; }
    #prices .container .boxPrice {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2rem auto 2rem; }
    #prices .container #boxPrice1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2; }
    #prices .container #boxPrice2 {
      grid-column: 2 / 3;
      grid-row: 1 / 2; }
    #prices .container #boxPrice3 {
      grid-column: 3 / 4;
      grid-row: 1 / 2; }
    #prices .container #boxPrice4 {
      grid-column: 4 / 5;
      grid-row: 1 / 2; }

  #proccess #imgTitle h2 {
    margin: 0 16rem; }
  #proccess #proccesses {
    max-width: 80%;
    margin: 0 auto; } }
@media screen and (min-width: 1200px) {
  #hero .textContainer h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    margin: 1rem auto 0 auto;
    padding-right: 0rem; }
  #hero .textContainer p {
    font-size: 1.3rem;
    line-height: 1.75rem;
    padding-right: 0rem; }

  #services #iconsContainer {
    max-width: 80%; }

  #features {
    column-gap: 1.5rem;
    max-width: 1000px; }

  #proccess {
    margin: 5rem auto 2rem; }
    #proccess #imgTitle h2 {
      margin: 0 22%; }
    #proccess #imgTitle img {
      max-width: 35%; } }
@media screen and (min-width: 1440px) {
  #header nav {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 100%;
    margin-top: 1.5rem; }

  #hero {
    margin-top: 10rem;
    max-width: 95%;
    grid-template-columns: 5% 35% 55%; }
    #hero .textContainer {
      grid-column: 2 / 3;
      grid-row: 1 / 5;
      max-width: 85%; }
      #hero .textContainer h1 {
        font-size: 2.5rem;
        line-height: 3.5rem;
        margin: -3rem auto 0 auto; }
      #hero .textContainer p {
        font-size: 1.4rem;
        line-height: 2.5rem;
        color: #4e5867;
        padding-right: 3rem; }
    #hero .imgContainer {
      grid-column: 3 / 4;
      grid-row: 1 / 5;
      margin-top: 0rem;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      #hero .imgContainer img {
        max-width: 95%; }

  #services #iconsContainer {
    max-width: 76%; }

  #features {
    max-width: 1200px; }
    #features #textFeature h2 {
      margin: 0 0 1rem 0;
      font-size: 34px; }
    #features #textFeature ul {
      font-size: 20px; }
      #features #textFeature ul li {
        padding: 1rem 0; }

  #prices h2 {
    font-size: 32px;
    margin: 0 auto 1rem; }
  #prices .container {
    max-width: 1152px; }

  #proccess {
    max-width: 80%;
    margin: 5rem auto 2rem; }
    #proccess #proccesses {
      max-width: 90%; } }
@media screen and (min-width: 1600px) {
  #header nav ul {
    display: flex;
    width: 15%;
    margin-right: 5%;
    justify-content: space-between;
    list-style: none; }
    #header nav ul li {
      font-family: 'Merriweather Sans', sans-serif;
      font-size: .9rem;
      font-weight: 700;
      color: #ac00e6; }

  #hero {
    margin-top: 6rem; }

  #features {
    max-width: 1300px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 25% 25% 25% 25%;
    margin: 0 auto 6rem auto; }
    #features #textFeature {
      max-width: 80%;
      grid-row: 1 / 5;
      grid-column: 1 / 2; }
      #features #textFeature ul {
        max-width: 90%;
        margin: 0 auto; }
    #features #imageFeature {
      grid-row: 1 / 5;
      grid-column: 2 / 3; }
      #features #imageFeature img {
        height: 750px;
        width: auto; }

  #proccess {
    max-width: 75%;
    margin: 7rem auto 4rem; }
    #proccess #imgTitle h2 {
      margin: 0 25%; }
    #proccess #imgTitle img {
      max-width: 40%; }
    #proccess #proccesses .box {
      margin: 0 auto 1rem;
      max-width: 84%; } }

/*# sourceMappingURL=style.css.map */
