body {
  margin: 0;
  overflow-x: hidden;
  width: 100%; }

h1, h2, h3, h4, h5 {
  color: #43414e;
  font-family: "Josefin Sans", sans-serif; }

p {
  color: #6e7076;
  font-family: "Roboto", sans-serif; }

ul {
  font-family: "Josefin Sans", sans-serif; }

button {
  outline: 0; }

#header {
  background-color: #391787;
  overflow: hidden; }
  #header img {
    margin-top: -900px;
    margin-right: 100px;
    margin-left: 0px;
    transition: .8s;
    position: absolute; }
  #header img.menuDesplegado {
    margin-top: -700px;
    margin-right: 100px;
    margin-left: -170px; }
  #header nav {
    padding: 4vh 2.3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #header nav h1 {
      font-size: 1.2rem;
      color: #fff !important; }
    #header nav ul {
      display: none; }
    #header nav i {
      color: #fff;
      cursor: pointer;
      z-index: 100; }
    #header nav #menu {
      display: inline;
      opacity: 0;
      position: absolute;
      padding-top: 10rem;
      left: 40%;
      margin-left: 0px;
      z-index: 500;
      transition: 3s; }
      #header nav #menu ul {
        display: inline;
        padding: 0; }
        #header nav #menu ul li {
          list-style: none;
          padding: .5rem 0; }
          #header nav #menu ul li a {
            color: #fff;
            text-decoration: none; }
  #header #menu.showMenu {
    opacity: 1; }

#hero {
  padding-top: 2rem;
  background-color: #391787;
  height: 100vh; }
  #hero .textContainer {
    max-width: 80%;
    margin: 0 auto; }
    #hero .textContainer h1 {
      font-size: 1.7rem;
      color: #fff !important; }
    #hero .textContainer p {
      font-size: 1.1rem;
      line-height: 1.8rem;
      color: #fff !important; }
    #hero .textContainer button {
      font-family: "Josefin Sans", sans-serif;
      font-size: .8rem;
      border-radius: 6px;
      background-color: #1180b5;
      padding: 1.1rem 1.7rem;
      color: #fff;
      border: none;
      text-transform: uppercase;
      cursor: pointer;
      -webkit-transition: background-color .5s ease-out;
      -moz-transition: background-color .5s ease-out;
      -o-transition: background-color .5s ease-out;
      transition: background-color .5s ease-out; }
    #hero .textContainer button:hover {
      background-color: #0b5d84; }
  #hero .imgContainer img {
    max-width: 80%; }

#services {
  margin: 0;
  margin-bottom: 3rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: #f0f0f5; }
  #services #titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #services #titleContainer h2 {
      font-size: 28px;
      margin: 0; }
    #services #titleContainer p {
      font-size: 16px;
      margin: .3rem auto; }
  #services #iconsContainer {
    margin-top: 3rem; }
    #services #iconsContainer .box {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding-bottom: 2rem; }
      #services #iconsContainer .box img {
        max-height: 160px; }
      #services #iconsContainer .box h3 {
        margin: 2rem 0 .5rem; }
      #services #iconsContainer .box p {
        max-width: 70%;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        margin: .3rem 0; }

#features {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto; }
  #features #textFeature h2 {
    font-size: 28px;
    text-align: center;
    padding: 0 1rem; }
  #features #textFeature ul {
    font-family: "Roboto", sans-serif;
    color: #6e7076;
    list-style: none;
    padding-left: 0px;
    max-width: 80%;
    margin: 0 auto; }
    #features #textFeature ul li {
      padding: .5rem 0px;
      line-height: 1.5rem; }
    #features #textFeature ul .iconoOK::before {
      font-family: "Font Awesome 5 Free";
      content: "\f058";
      padding-right: 1rem;
      color: #b923f7; }
  #features #imageFeature img {
    max-width: 100%; }

#prices {
  background-color: #391787;
  margin-top: 3rem;
  padding-bottom: 0rem; }
  #prices h2 {
    font-size: 28px;
    text-align: center;
    color: #fff;
    padding-top: 5rem; }
  #prices .container {
    padding-top: 0rem;
    padding-bottom: 0rem;
    color: #fff;
    display: flex;
    flex-direction: column; }
    #prices .container .boxPrice {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2rem auto 2rem; }
      #prices .container .boxPrice h5 {
        color: #fff !important;
        margin: 1rem 0; }
      #prices .container .boxPrice .priceNumber {
        font-size: 58px;
        font-weight: 700;
        margin: .5rem 0;
        color: #589bff; }
      #prices .container .boxPrice ul {
        list-style: none;
        padding-left: 0;
        text-align: center; }
        #prices .container .boxPrice ul li {
          margin: .7rem 0; }
      #prices .container .boxPrice button {
        font-family: "Roboto", sans-serif;
        font-size: .8rem;
        border: 2px solid #fff;
        border-radius: 33px;
        background-color: transparent;
        padding: 20px 35px;
        color: #fff;
        cursor: pointer;
        -webkit-transition: background-color .5s ease-out;
        -moz-transition: background-color .5s ease-out;
        -o-transition: background-color .5s ease-out;
        transition: background-color .5s ease-out; }
      #prices .container .boxPrice button:hover {
        background-color: #fff;
        color: #391787;
        font-weight: 700; }
  #prices #ulContainer {
    padding-bottom: 6rem; }
    #prices #ulContainer p {
      font-size: 18px;
      line-height: 27px;
      color: #fff;
      padding: 1rem 2rem; }
    #prices #ulContainer a {
      color: #fff;
      text-decoration: none;
      border-bottom: 2px solid lightblue; }
    #prices #ulContainer .iconoOK::before {
      font-family: "Font Awesome 5 Free";
      content: "\f058";
      padding-right: 1rem;
      color: #fff; }
    #prices #ulContainer ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0; }
      #prices #ulContainer ul li {
        color: #fff;
        margin: .5rem 0 0 0;
        text-align: center; }

#proccess {
  margin-top: 5rem;
  margin-bottom: 5rem; }
  #proccess #imgTitle h2 {
    text-align: center;
    margin: 0 1rem; }
  #proccess #imgTitle img {
    max-width: 100%; }
  #proccess #proccesses {
    display: flex;
    flex-direction: column; }
    #proccess #proccesses .box {
      max-width: 85%;
      margin: 0 auto 1rem;
      text-align: center; }
      #proccess #proccesses .box p {
        font-size: 16px;
        line-height: 24px; }

#pageFooter #newsletter {
  max-width: 70%;
  margin: 0 auto; }
  #pageFooter #newsletter #newsletterBox {
    padding-bottom: 4rem; }
    #pageFooter #newsletter #newsletterBox h3 {
      font-family: "Josefin Sans", sans-serif;
      font-size: 32px;
      text-align: center; }
    #pageFooter #newsletter #newsletterBox form {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }
      #pageFooter #newsletter #newsletterBox form input[type=email] {
        padding: 10px;
        border: none;
        background-color: #f0f0f5;
        color: #colorParrafo;
        font-family: "Roboto", sans-serif;
        font-size: 1rem; }
      #pageFooter #newsletter #newsletterBox form input[type=submit] {
        font-family: "Roboto", sans-serif;
        font-size: .8rem;
        border: none;
        border-radius: 33px;
        background-color: #937cc7;
        padding: 20px 35px;
        color: #fff;
        align-self: center;
        justify-content: center;
        margin-top: 1rem;
        cursor: pointer;
        outline: 0;
        -webkit-transition: background-color .5s ease-out;
        -moz-transition: background-color .5s ease-out;
        -o-transition: background-color .5s ease-out;
        transition: background-color .5s ease-out; }
      #pageFooter #newsletter #newsletterBox form input[type=submit]:hover {
        background-color: #28047b;
        color: #fff;
        font-weight: 300; }
#pageFooter footer {
  background-color: #391787;
  color: #fff;
  padding-bottom: 2rem; }
  #pageFooter footer #footerBox {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 80%; }
    #pageFooter footer #footerBox h4 {
      color: #fff !important;
      font-size: 26px;
      padding-top: 1.5rem;
      margin: 1.3rem 0; }
    #pageFooter footer #footerBox ul {
      list-style: none;
      padding-left: 0; }
      #pageFooter footer #footerBox ul li {
        font-family: "Josefin Sans", sans-serif;
        font-size: 1rem;
        font-weight: 100; }
    #pageFooter footer #footerBox #socialIcons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-content: center;
      margin-top: 1rem; }

@media screen and (min-width: 350px) {
  #header {
    background-color: #391787; }
    #header nav {
      padding: 4vh 2.3rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      #header nav h1 {
        font-size: 1.2rem;
        color: #fff !important; }
      #header nav ul {
        display: none; }
      #header nav i {
        color: #fff; }

  #hero {
    padding-top: 2rem;
    background-color: #391787;
    height: 85vh; } }
@media screen and (min-width: 600px) {
  #header nav {
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 2rem; }

  #hero .textContainer {
    max-width: 80%; }
  #hero .imgContainer {
    margin-top: 5rem; }

  #services #iconsContainer .box {
    max-width: 80%; }

  #features {
    max-width: 85%; }
    #features #textFeature h2 {
      font-size: 28px;
      text-align: center;
      padding: 0 1rem; }
    #features #textFeature ul {
      max-width: 50%; }
    #features #imageFeature {
      display: flex;
      justify-content: center; }
      #features #imageFeature img {
        max-width: 100%; }

  #prices #ulContainer ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0; }
    #prices #ulContainer ul .iconoOK::before {
      padding-left: 30px; }
    #prices #ulContainer ul li {
      color: #fff;
      margin: .5rem 0 0 0;
      text-align: center; }

  #proccess {
    margin-top: 5rem; }
    #proccess #proccesses .box {
      max-width: 75%; }
      #proccess #proccesses .box p {
        text-align: left; }

  #pageFooter #newsletter {
    max-width: 50%; } }
@media screen and (min-width: 600px) and (max-width: 1024px) and (orientation: landscape) {
  h1 {
    color: red; } }
@media screen and (min-width: 768px) {
  #header nav {
    max-width: 85%; }

  #hero {
    height: auto;
    display: grid;
    grid-template-columns: 7% 38% 55%;
    grid-template-rows: 25% 25% 25% 25%;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 10vh; }
    #hero .textContainer {
      grid-column: 2 / 3;
      grid-row: 1 / 5;
      max-width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      #hero .textContainer h1 {
        margin: 1rem auto 0 auto; }
      #hero .textContainer button {
        max-width: 9rem; }
    #hero .imgContainer {
      grid-column: 3 / 4;
      grid-row: 1 / 5;
      margin-top: 0rem;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      #hero .imgContainer img {
        max-width: 90%; }

  #services {
    margin: 0;
    margin-bottom: 6rem; }
    #services #titleContainer h2 {
      font-family: "Josefin Sans", sans-serif;
      font-size: 28px;
      margin: 0; }
    #services #titleContainer p {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      margin: .3rem auto; }
    #services #iconsContainer {
      display: grid;
      grid-template-columns: 33.3% 33.3% 33.3%;
      grid-template-rows: 1fr;
      max-width: 95%;
      margin: 5rem auto 0; }
      #services #iconsContainer .box {
        max-width: 100%;
        padding-bottom: 0rem; }
      #services #iconsContainer #box1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2; }
      #services #iconsContainer #box2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2; }
      #services #iconsContainer #box3 {
        grid-column: 3 / 4;
        grid-row: 1 / 2; }

  #features {
    max-width: 90%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 25% 25% 25% 25%;
    margin: 0 auto 3rem auto; }
    #features #textFeature {
      display: flex;
      flex-direction: column;
      justify-content: center;
      grid-row: 1 / 5;
      grid-column: 1 / 2; }
      #features #textFeature ul {
        max-width: 80%; }
    #features #imageFeature {
      grid-row: 1 / 5;
      grid-column: 2 / 3; }

  #prices h2 {
    font-size: 32px; }
  #prices .container {
    padding-top: 0rem;
    padding-bottom: 0rem;
    max-width: 90%;
    margin: 0 auto;
    color: #fff;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%; }
    #prices .container .boxPrice {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2rem auto 2rem; }
  #prices #ulContainer {
    max-width: 80%;
    margin: 0 auto; }
    #prices #ulContainer p {
      text-align: center;
      margin-bottom: 0rem; }
    #prices #ulContainer ul {
      display: flex;
      justify-content: center;
      margin-top: 0rem; }
      #prices #ulContainer ul li {
        align-self: center; }

  #proccess #imgTitle {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #proccess #imgTitle h2 {
      margin: 0 10rem; }
    #proccess #imgTitle img {
      max-width: 60%;
      margin: 0 auto; }
  #proccess #proccesses {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 1fr; }
    #proccess #proccesses .box {
      max-width: 80%;
      margin: 0 auto 1rem;
      text-align: center; }
      #proccess #proccesses .box h3 {
        text-align: center; }
      #proccess #proccesses .box p {
        text-align: center; }

  #pageFooter #newsletter {
    max-width: 50%;
    margin: 0 auto; }
    #pageFooter #newsletter #newsletterBox {
      padding-bottom: 4rem; }
      #pageFooter #newsletter #newsletterBox h3 {
        font-family: "Josefin Sans", sans-serif;
        font-size: 32px;
        text-align: center; }
      #pageFooter #newsletter #newsletterBox form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; }
        #pageFooter #newsletter #newsletterBox form input[type=email] {
          padding: 10px;
          border: none;
          background-color: #f0f0f5;
          color: #colorParrafo;
          font-family: "Roboto", sans-serif;
          font-size: 1.2rem; }
        #pageFooter #newsletter #newsletterBox form input[type=submit] {
          font-family: "Roboto", sans-serif;
          font-size: .8rem;
          border: none;
          border-radius: 33px;
          background-color: #937cc7;
          padding: 20px 35px;
          color: #fff;
          align-self: center;
          justify-content: center;
          margin-top: 1rem; }
  #pageFooter footer {
    padding-top: 2rem;
    padding-bottom: 2rem; }
    #pageFooter footer #footerBox {
      display: grid;
      grid-template-columns: 20% 15% 20% 25% 15% 5%;
      grid-template-rows: 1fr;
      margin: 0 auto;
      max-width: 95%; }
      #pageFooter footer #footerBox h4 {
        color: #fff !important;
        font-size: 20px;
        padding: 0rem 10%;
        margin: 1rem 0 1rem 1rem; }
      #pageFooter footer #footerBox ul {
        list-style: none;
        padding-left: 0;
        align-self: center; }
        #pageFooter footer #footerBox ul li {
          font-family: "Josefin Sans", sans-serif;
          font-size: .8rem;
          font-weight: 100;
          padding: .15rem 0;
          cursor: pointer; }
      #pageFooter footer #footerBox #socialIcons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        margin-top: 1rem; } }
@media screen and (min-width: 1024px) {
  #header nav {
    max-width: 85%; }
    #header nav i {
      display: none; }
    #header nav ul {
      display: flex;
      width: 45%;
      margin-right: 2%;
      justify-content: space-between;
      list-style: none;
      z-index: 100; }
      #header nav ul li {
        font-size: .9rem;
        font-weight: 700; }
        #header nav ul li a {
          text-decoration: none;
          color: #fff;
          cursor: pointer; }

  #hero {
    display: grid;
    grid-template-columns: 7% 38% 55%;
    grid-template-rows: 25% 25% 25% 25%;
    max-width: 100%; }
    #hero .textContainer {
      grid-column: 2 / 3;
      grid-row: 1 / 5; }
      #hero .textContainer h1 {
        font-size: 2.3rem;
        line-height: 3rem;
        margin: 1rem auto 0 auto;
        padding-right: 4rem; }
      #hero .textContainer p {
        font-size: 1rem;
        line-height: 1.5rem;
        padding-right: 6rem; }

  #services {
    padding-bottom: 4rem; }

  #prices h2 {
    font-size: 32px; }
  #prices .container {
    max-width: 90%;
    margin: 0 auto;
    color: #fff;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    grid-column-gap: .3rem; }
    #prices .container .boxPrice {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2rem auto 2rem; }
    #prices .container #boxPrice1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2; }
    #prices .container #boxPrice2 {
      grid-column: 2 / 3;
      grid-row: 1 / 2; }
    #prices .container #boxPrice3 {
      grid-column: 3 / 4;
      grid-row: 1 / 2; }
    #prices .container #boxPrice4 {
      grid-column: 4 / 5;
      grid-row: 1 / 2; }

  #proccess #imgTitle h2 {
    margin: 0 16rem; }
  #proccess #proccesses {
    max-width: 80%;
    margin: 0 auto; }

  #pageFooter #newsletter {
    max-width: 40%; }
  #pageFooter footer #footerBox {
    grid-template-columns: 20% 15% 20% 20% 20% 5%;
    max-width: 90%; }
    #pageFooter footer #footerBox ul li {
      font-size: 1rem;
      padding: .15rem 0; } }
@media screen and (min-width: 1200px) {
  #header nav {
    height: 6vh;
    padding: 4vh 0; }

  #hero {
    height: 87vh;
    padding: 0; }
    #hero .textContainer h1 {
      font-size: 3rem;
      line-height: 3.5rem;
      margin: 1rem auto 0 auto;
      padding-right: 0rem; }
    #hero .textContainer p {
      font-size: 1.3rem;
      line-height: 2rem;
      padding-right: 0rem; }

  #services #iconsContainer {
    max-width: 80%; }

  #features {
    column-gap: 1.5rem;
    max-width: 1000px; }

  #proccess {
    margin: 5rem auto 2rem; }
    #proccess #imgTitle h2 {
      margin: 0 22%; }
    #proccess #imgTitle img {
      max-width: 35%; }

  #pageFooter {
    background-color: #d7d0ff; }
    #pageFooter #newsletter {
      max-width: 40%;
      padding: 5rem 0; }
      #pageFooter #newsletter #newsletterBox {
        padding: 0; }
    #pageFooter footer {
      padding: 5rem 0; }
      #pageFooter footer #footerBox {
        grid-template-columns: 20% 15% 20% 20% 15% 10%;
        max-width: 85%; }
        #pageFooter footer #footerBox h4 {
          font-size: 2rem;
          padding: 0 20% 0 5%; } }
@media screen and (min-width: 1400px) {
  #header nav {
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 100%; }
    #header nav h1 {
      font-size: 1.6rem; }
    #header nav ul li {
      font-size: 1.2rem; }

  #hero {
    height: 87vh;
    grid-template-columns: 7% 33% 55%;
    padding-top: 0;
    padding-bottom: 0; }
    #hero .textContainer {
      grid-column: 2 / 3;
      grid-row: 1 / 5;
      max-width: 85%; }
      #hero .textContainer h1 {
        font-size: 2.8rem;
        line-height: 4rem;
        margin: -3rem auto 0 auto; }
      #hero .textContainer p {
        font-size: 1.4rem;
        line-height: 2.5rem;
        color: #4e5867;
        padding-right: 3rem; }
    #hero .imgContainer {
      grid-column: 3 / 4;
      grid-row: 1 / 5;
      margin-top: 0rem;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      #hero .imgContainer img {
        max-width: 95%; }

  #services #iconsContainer {
    max-width: 76%; }

  #features {
    max-width: 1200px; }
    #features #textFeature h2 {
      margin: 0 0 1rem 0;
      font-size: 34px; }
    #features #textFeature ul {
      font-size: 20px; }
      #features #textFeature ul li {
        padding: 1rem 0; }

  #prices h2 {
    font-size: 32px;
    margin: 0 auto 1rem; }
  #prices .container {
    max-width: 1152px; }

  #proccess {
    max-width: 80%;
    margin: 5rem auto 2rem; }
    #proccess #proccesses {
      max-width: 90%; }

  #pageFooter #newsletter {
    max-width: 25%;
    padding: 5rem 0; }
  #pageFooter footer {
    padding: 5rem 0; }
    #pageFooter footer #footerBox {
      grid-template-columns: 20% 15% 20% 20% 20% 15%;
      max-width: 85%; }
      #pageFooter footer #footerBox h4 {
        font-size: 2rem;
        padding: 0 20% 0 5%; } }
@media screen and (min-width: 1600px) {
  #hero .textContainer h1 {
    font-size: 3rem;
    line-height: 4rem; }
  #hero .imgContainer {
    margin-top: -4rem; }

  #features {
    max-width: 1300px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 25% 25% 25% 25%;
    margin: 0 auto 6rem auto; }
    #features #textFeature {
      max-width: 80%;
      grid-row: 1 / 5;
      grid-column: 1 / 2; }
      #features #textFeature ul {
        max-width: 90%;
        margin: 0 auto; }
    #features #imageFeature {
      grid-row: 1 / 5;
      grid-column: 2 / 3; }
      #features #imageFeature img {
        height: 750px;
        width: auto; }

  #proccess {
    max-width: 75%;
    margin: 7rem auto 4rem; }
    #proccess #imgTitle h2 {
      margin: 0 25%; }
    #proccess #imgTitle img {
      max-width: 40%; }
    #proccess #proccesses .box {
      margin: 0 auto 1rem;
      max-width: 84%; }

  #pageFooter footer {
    padding: 5rem 0; }
    #pageFooter footer #footerBox {
      grid-template-columns: 20% 15% 20% 20% 15% 20%;
      max-width: 75%; }
      #pageFooter footer #footerBox h4 {
        font-size: 2rem;
        padding: 0 20% 0 5%; } }

/*# sourceMappingURL=style.css.map */
