
$violet : #ac00e6;
$fuentePrincipal: 'Josefin Sans', sans-serif;
$fuenteSecundaria: 'Roboto', sans-serif;
$colorTitulo: #43414e;
$colorParrafo: #6e7076;
$colorFondo : #600080;
$fondoClaro: #f0f0f5;

body{
	margin: 0;

}

h1, h2, h3, h4, h5{
	color: $colorTitulo;
	font-family: $fuentePrincipal;
}

p{
	color: $colorParrafo;
	font-family: $fuenteSecundaria;
}

ul{
	font-family: $fuentePrincipal;
}




#header{
	background-color: #391787;

	nav{
		padding: 4vh 2.3rem 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		h1{
			font-size: 1.2rem;
			color: #fff !important;
		}

		ul{
			display: none;
		}

		i{
			color: #fff;
		}
	}
}

	#hero{
		padding-top: 2rem;
		background-color: #391787;
		height: 85vh;


		.textContainer{
			
			max-width: 80%;
			margin: 0 auto;
				h1{
					font-size: 1.7rem;
					color: #fff !important;
				}
				p{
					font-size: 1.1rem;
					line-height: 1.6rem;
					color: #fff !important;
				}

				button{
					font-family: $fuentePrincipal;
					font-size: .8rem;
					border-radius: 6px;
					background-color: $violet;
					padding: 1.1rem 1.7rem;
					color: #fff;
					border: none;
					text-transform: uppercase;
					cursor: pointer;
				}
			}

		.imgContainer{
			

			img{
				max-width: 80%;
			}
		}
	}

	#services{
		margin:0;
		margin-top: 5rem;
		margin-bottom: 3rem;
		padding-top: 4rem;
		padding-bottom: 2rem;
		background-color: $fondoClaro;
		
		#titleContainer{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			h2{
				font-size: 28px;
				margin:0;
			}

			p{
				font-size: 16px;
				margin: .3rem auto;
			}
		}

		#iconsContainer{
			margin-top: 3rem;

  			.box{
  				align-items: center;
  				justify-content: center;
  				display: flex;
  				flex-direction: column;
  				margin: 0 auto;
  				padding-bottom: 2rem;
 
	  			img{
					max-height: 160px;

				}
				h3{
					margin: 2rem 0 .5rem;
				}

				p{
					max-width: 70%;
					font-size: 16px;
					line-height: 26px;
					text-align: center;
					margin: .3rem 0;
				}
  			}
		}
	}

	#features{
		max-width: 90%;
		display: flex;
		flex-direction: column;
		margin: 0 auto;


		#textFeature{
			h2{
				font-size: 28px;
				text-align: center;
				padding: 0 1rem;
			}
			ul{
				font-family: $fuenteSecundaria;
				color: $colorParrafo;
				list-style: none;
				padding-left: 0px;
				max-width: 80%;
				margin:0 auto;

				li{
					padding: .5rem 0px;
					line-height: 1.5rem;

				}
			
				.iconoOK {
					  
				}
					
				.iconoOK::before{
					  font-family: "Font Awesome 5 Free";
					  content: "\f058";
				  	  padding-right: 1rem;
				  	  color: $violet;
				}
			}
		}
		
		#imageFeature{
		
			img{
				max-width: 100%;
			}
		}
	}

	#prices{
		background-color: $colorFondo;
		margin-top: 3rem;
		padding-bottom: 0rem;

		h2{
			font-size: 28px;
			text-align: center;
			color: #fff;
			padding-top: 5rem;
		}

		.container{
			padding-top: 0rem;
			padding-bottom: 0rem;
			color: #fff;
			display: flex;
			flex-direction: column;

			.boxPrice{
				display:flex;
				flex-direction: column;
				align-items: center;
				margin: 2rem auto 2rem;

				h5{
					color: #fff !important;
					margin: 1rem 0;
				}

				.priceNumber{
					font-size: 58px;
					font-weight: 700;
					margin: .5rem 0;
					color: #d24dff;
				}

				ul{
					list-style: none;
					padding-left: 0;
					text-align: center;

					li{
						margin: .7rem 0;
					}
				}

				button{
					font-family: $fuenteSecundaria;
					font-size: .8rem;
					border: 2px solid #fff;
					border-radius: 33px;
					background-color: transparent;
					padding: 20px 35px;
					color: #fff;
				}
			}
		}

		#ulContainer{

			padding-bottom: 6rem;

			p{	
				font-size: 18px;
				line-height: 27px;
				color: #fff;
				padding: 1rem 2rem;
			}

			a{
				color: #fff;
				text-decoration: none;
				border-bottom: 2px solid lightblue;
			}
						
			.iconoOK::before{
			  font-family: "Font Awesome 5 Free";
			  content: "\f058";
		  	  padding-right: 1rem;
		  	  color: #fff;
			}

			ul{
				list-style: none;
				padding-left: 0;
				margin-bottom: 0;

				li{ 
					color: #fff;
					margin: .5rem 0 0 0;
					text-align: center;
				}
			}
		}	
	}

	#proccess{
		margin-top: 5rem;
		margin-bottom: 5rem;

			#imgTitle{
				h2{
					text-align: center;
					margin: 0 1rem;
				}

				img{
					max-width: 100%;
				}
			}

			#proccesses{
					display: flex;
					flex-direction: column;
					

				.box{
					max-width: 85%;
					margin: 0 auto 1rem;
					text-align: center;

					h3{

					}

					p{
						font-size: 16px;
						line-height: 24px;
					}
				}
			}	
		}

		#pageFooter{
			#newsletter{
				max-width: 70%;
				margin: 0 auto;
				#newsletterBox{
				padding-bottom: 4rem;

					h3{
						font-family: $fuentePrincipal;
						font-size: 32px;
						text-align: center;
					}

					form{
						display: flex;
						flex-direction: column;
						flex-wrap: wrap;

						input[type=email] {
						    padding:10px; 
						    border: none; 
						    background-color: #f0f0f5;
						    color: #colorParrafo;
						    font-family: $fuenteSecundaria;
						    font-size: 1rem;
						}

						input[type=submit] {
							font-family: $fuenteSecundaria;
							font-size: .8rem;
							border: 2px solid $violet;
							border-radius: 33px;
							background-color: $violet;
							padding: 20px 35px;
							color: #fff;
							align-self: center;
							justify-content: center;
							margin-top: 1rem;
						}
					}	
				}
			}

			footer{
				background-color:  #600080;
				color: #fff;
				padding-bottom: 2rem;
					
					#footerBox{	
						display: flex;
						flex-direction: column;
						margin: 0 auto;
						max-width: 80%;

						h4{
							color: #fff !important;
							font-size: 26px;
							padding-top: 1.5rem;
							margin: 1.3rem 0;
						}

						ul{
							list-style: none;
							padding-left: 0;

							li{	
								font-family: $fuentePrincipal;
								font-size: 1rem;
								font-weight: 100;
							}
						}

						#socialIcons{
								display: flex;
								flex-direction: row;
								justify-content: space-around;
								align-content: center;
								margin-top: 1rem;
						}
					}
				}
			}
		

	@media screen and (min-width:600px){
		#header{

			nav{
				max-width: 80%;
				margin:0 auto;
				padding-bottom: 2rem;
			}
		}

		#hero{
			

			.textContainer{
				
				max-width: 80%;
				}

			.imgContainer{
				margin-top: 5rem;
			}
		}

		#services{
			#iconsContainer{
				
				.box{
					max-width: 80%;
				}
			}
		}

	#features{
		max-width: 85%;


		#textFeature{
			h2{
				font-size: 28px;
				text-align: center;
				padding: 0 1rem;
			}
			ul{
				max-width: 50%;			
			}
		}
		
		#imageFeature{
			display: flex;
			justify-content: center;

			img{
				max-width: 100%;
			}
		}
	}

	#prices{

		#ulContainer{

			ul{
				display:flex;
				list-style: none;
				padding-left: 0;
				margin-bottom: 0;

				.iconoOK::before{
					padding-left: 30px;
				}

				li{ 
					color: #fff;
					margin: .5rem 0 0 0;
					text-align: center;

				}
			}
		}
	}

	#proccess{
		margin-top: 5rem;

			#proccesses{

				.box{
					max-width: 75%;


					p{
						text-align: left;
					}
				}
			}
		}

		#pageFooter{
			#newsletter{
				max-width: 50%;
				}
			}
		}

@media screen and (min-width:600px) and (max-width: 1024px) and (orientation: landscape) {
	h1{
	color: red;
	}
}


@media screen and (min-width:768px) {

	#header{
	nav{
		max-width: 85%;
	}
}


	#hero{
		height: auto;
		display: grid;
		grid-template-columns: 7% 38% 55%;
		grid-template-rows: 25% 25% 25% 25%;
		max-width: 100%;
		margin: 0 auto;
		padding-bottom: 10vh;

		.textContainer{
			grid-column: 2 / 3;
			grid-row: 1 / 5;
			max-width: 100%;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			justify-content: center;


				h1{
					margin: 1rem auto 0 auto;
				}
				p{

				}

				button{
					font-family: 'Merriweather Sans', sans-serif;
					font-size: .8rem;
					border-radius: 6px;
					background-color: $violet;
					padding: 1rem 1.4rem;
					color: #fff;
					border: none;
					text-transform: uppercase;
					max-width: 9rem;
				}
			}

		.imgContainer{
			grid-column: 3 / 4;
			grid-row: 1 / 5;
			margin-top: 0rem;
			display: flex;
			flex-direction: column;
			justify-content: center;

			img{
				max-width:90%;
			}
		}
	}

	#services{
		margin:0;
		margin-bottom: 6rem;
		
		#titleContainer{

			h2{
				font-family: $fuentePrincipal;
				font-size: 28px;
				margin:0;
			}

			p{
				font-family: $fuenteSecundaria;
				font-size: 16px;
				margin: .3rem auto;
			}
		}

		#iconsContainer{
			display: grid;
			grid-template-columns: 33.3% 33.3% 33.3%;
			grid-template-rows: 1fr;
  			max-width: 95%;
  			margin: 5rem auto 0;

  			.box{
  				max-width: 100%;
  				padding-bottom: 0rem;

	  			img{
				
				}

				h3{
				}

				p{

				}
  			}

  			#box1{
  				grid-column:  1 / 2;
  				grid-row: 1 / 2;
  			}	

  			#box2{
  				grid-column:  2 / 3;
  				grid-row: 1 / 2;
  			}	

  			#box3{
  				grid-column:  3 / 4;
  				grid-row: 1 / 2;
  			}	
		}
	}

	#features{
		max-width: 90%;
		display: grid;
		grid-template-columns: 40% 60%;
		grid-template-rows: 25% 25% 25% 25%;
		margin: 0 auto 3rem auto;


		#textFeature{
			display: flex;
			flex-direction: column;
			justify-content: center;
			grid-row: 1 / 5;
			grid-column: 1 / 2;
			
			ul{
				max-width: 80%;
			}
		}
		
		#imageFeature{
			grid-row: 1 / 5;
			grid-column: 2 / 3;
		}
	}

	#prices{

		h2{
			font-size: 32px;
		}

		.container{
			padding-top: 0rem;
			padding-bottom: 0rem;
			max-width: 90%;
			margin:0 auto;
			color: #fff;
			display: grid;
			grid-template-columns: 50% 50%;
			grid-template-rows: 50% 50%;

			.boxPrice{
				display:flex;
				flex-direction: column;
				align-items: center;
				margin: 2rem auto 2rem;
			}
		}

		#ulContainer{
			max-width: 80%;
			margin: 0 auto;
				
				p{
					text-align: center;
					margin-bottom: 0rem;
				}

				ul{
					display: flex;
					justify-content: center;
					margin-top: 0rem;

					li{
						align-self: center;
					}
				}	
			}
		}

		#proccess{

			#imgTitle{
					display: flex;
					flex-direction: column;
					justify-content: center;

					h2{
						margin: 0 10rem;
					}

					img{
						max-width: 60%;
						margin: 0 auto;
					}
				}

			#proccesses{
				display: grid;
				grid-template-columns: 33.3% 33.3% 33.3%;
				grid-template-rows: 1fr;
					
				.box{
					max-width: 80%;
					margin: 0 auto 1rem;
					text-align: center;

					h3{
						text-align: center;
					}

					p{
						text-align: center;
					}
				}
			}
		}

		#pageFooter{
			#newsletter{
				max-width: 50%;
				margin: 0 auto;
				#newsletterBox{
				padding-bottom: 4rem;

					h3{
						font-family: $fuentePrincipal;
						font-size: 32px;
						text-align: center;
					}

					form{
						display: flex;
						flex-direction: column;
						flex-wrap: wrap;

						input[type=email] {
						    padding:10px; 
						    border: none; 
						    background-color: #f0f0f5;
						    color: #colorParrafo;
						    font-family: $fuenteSecundaria;
						    font-size: 1.2rem;
						}

						input[type=submit] {
							font-family: $fuenteSecundaria;
							font-size: .8rem;
							border: 2px solid #fff;
							border-radius: 33px;
							background-color: $violet;
							padding: 20px 35px;
							color: #fff;
							align-self: center;
							justify-content: center;
							margin-top: 1rem;
						}
					}	
				}
			}

			footer{
				padding-top: 2rem;
				padding-bottom: 2rem;
					
					#footerBox{	
						display: grid;
						grid-template-columns: 20% 15% 20% 25% 15% 5%;
						grid-template-rows: 1fr;
						margin: 0 auto;
						max-width: 95%;

						h4{
							color: #fff !important;
							font-size: 20px;
							padding: 0rem 10%;
							margin: 1rem 0 1rem 1rem;
						}

						ul{
							list-style: none;
							padding-left: 0;
							align-self: center;

							li{	
								font-family: $fuentePrincipal;
								font-size: .8rem;
								font-weight: 100;
								padding: .15rem 0;
							}
						}

						#socialIcons{
								display: flex;
								flex-direction: row;
								justify-content: space-around;
								align-content: center;
								margin-top: 1rem;
						}
					}
				}
			}
}

@media screen and (min-width:1024px) {

	#header{
		nav{
			max-width: 85%;

			i{
				display: none;
			}

			ul{
				display: flex;
				width: 45%;
				margin-right: 2%;
				justify-content: space-between;
				list-style: none;

				li{
					font-size: .9rem;
					font-weight: 700;

					a{
						text-decoration: none;
						color: #fff;
						cursor: pointer;
					}
				}
			}	
		}
	}
		
	#hero{
		display: grid;
		grid-template-columns: 7% 38% 55%;
		grid-template-rows: 25% 25% 25% 25%;
		max-width: 100%;

		.textContainer{
			grid-column: 2 / 3;
			grid-row: 1 / 5;

			h1{
				font-size: 2.3rem;
				line-height: 3rem;
				margin: 1rem auto 0 auto;
				padding-right: 4rem;
			}
			p{
				font-size: 1rem;
				line-height: 1.5rem;
				padding-right: 6rem;
			}
		}
	}

	#services{
		padding-bottom: 4rem;
		}

	#prices{

		h2{
			font-size: 32px;
		}

		.container{
			max-width: 90%;
			margin:0 auto;
			color: #fff;
			display: grid;
			grid-template-columns: 25% 25% 25% 25%;
			grid-template-rows: 100%;
			grid-column-gap: .3rem;

			.boxPrice{
				display:flex;
				flex-direction: column;
				align-items: center;
				margin: 2rem auto 2rem;
			}

			#boxPrice1{
				grid-column: 1 / 2;
				grid-row: 1 / 2;
			}
			#boxPrice2{
				grid-column: 2 / 3;
				grid-row: 1 / 2;
			}
			#boxPrice3{
				grid-column: 3 / 4;
				grid-row: 1 / 2;
			}
			#boxPrice4{
				grid-column: 4 / 5;
				grid-row: 1 / 2;
			}
		}
	}

	#proccess{

			#imgTitle{

					h2{
						margin: 0 16rem;
						}
					}

			#proccesses{
				max-width: 80%;
				margin: 0 auto;
			}	
		}

		#pageFooter{

			#newsletter{
				max-width: 40%;
				}
			
			footer{	
					#footerBox{	
						grid-template-columns: 20% 15% 20% 20% 20% 5%;
						max-width: 90%;
						ul{
							li{
								font-size: 1rem;
								padding: .15rem 0;
							}
						}
					}
				}
			}
			}
		

@media screen and (min-width:1200px) {
	

		#header{

			nav{
				height: 6vh;
				padding: 4vh 0;
			}
		}

		#hero{
			height: 87vh;
			padding: 0;

		.textContainer{

				h1{
					font-size: 3rem;
					line-height: 3.5rem;
					margin: 1rem auto 0 auto;
					padding-right: 0rem;
				}
				p{
					font-size: 1.3rem;
					line-height: 1.75rem;
					padding-right: 0rem;
				}
			}
		}

		#services{

			#iconsContainer{
				max-width: 80%;
			}
		}

		#features{
			column-gap: 1.5rem;
			max-width: 1000px;
		}

		#proccess{
			margin: 5rem auto 2rem;

			#imgTitle{

				h2{
					margin: 0 22%;
				}

				img{
					max-width: 35%;
				}
			}
		}

		#pageFooter{
				background-color: #f2e6ff;
			#newsletter{
				max-width: 40%;
				padding: 5rem 0;

				#newsletterBox{
					padding: 0;
				}
			}
			
			footer{	
				padding: 5rem 0;
					#footerBox{	
						grid-template-columns: 20% 15% 20% 20% 15% 10%;
						max-width: 85%;

						h4{
						   font-size: 2rem;
							padding: 0 20% 0 5%; 
						}
					}
				}
			}
}

@media screen and (min-width:1400px) {
	

	#header{

			nav{
				height: 6vh;
				display: flex;
				justify-content: space-between;
				align-items: center;
				grid-column: 2 / 3;
				grid-row: 1 / 2;
				width: 100%;

				h1{
					font-size: 1.6rem;
				}
				ul{
					li{
						font-size: 1.2rem;
					}
				}
			}
		}
	
	
	#hero{
		height: 87vh;
		grid-template-columns: 7% 33% 55%;
		padding-top: 0;
		padding-bottom: 0;

		.textContainer{
			grid-column: 2 / 3;
			grid-row: 1 / 5;
			max-width: 85%;


				h1{
					font-size: 2.5rem;
					line-height: 3.5rem;
					margin: -3rem auto 0 auto;
				}
				p{
					font-size: 1.4rem;
					line-height: 2.5rem;
					color: #4e5867;
					padding-right: 3rem;
				}				
			}

		.imgContainer{
			grid-column: 3 / 4;
			grid-row: 1 / 5;
			margin-top: 0rem;
			display: flex;
			flex-direction: column;
			justify-content: center;

			img{
				max-width: 95%;
			}
		}
	}

	#services{

		#iconsContainer{
			max-width: 76%;
		}
	}

	#features{
		max-width: 1200px;

	#textFeature h2{
				margin: 0 0 1rem 0;
				font-size: 34px;
			}

	#textFeature ul{
		font-size: 20px;

			li{
				padding: 1rem 0;
			}
		}
	}

	#prices{

		h2{
			font-size: 32px;
			margin: 0 auto 1rem;
		}

		.container{
			max-width: 1152px;
		}
	}

	#proccess{
		max-width: 80%;
		margin: 5rem auto 2rem;

		#proccesses{
			max-width: 90%;
		}
	}

	#pageFooter{

			#newsletter{
				max-width: 25%;
				padding: 5rem 0;
				}
			
			
			footer{	
				padding: 5rem 0;
					#footerBox{	
						grid-template-columns: 20% 15% 20% 20% 20% 15%;
						max-width: 85%;

						h4{	
							font-size: 2rem;
							padding: 0 20% 0 5%;
						}
					}
				}
			}
		}



@media screen and (min-width:1600px){

	#header{

		nav{

			ul{
				display: flex;
				width: 15%;
				margin-right: 5%;
				justify-content: space-between;
				list-style: none;

				li{
					font-family: 'Merriweather Sans', sans-serif;
					font-size: .9rem;
					font-weight: 700;
					color: $violet;
				}
			}
		}
	}

	#hero{
	
	}

	#features{
		max-width: 1300px;
		display: grid;
		grid-template-columns: 40% 60%;
		grid-template-rows: 25% 25% 25% 25%;
		margin: 0 auto 6rem auto;


		#textFeature{
			max-width: 80%;
			
			grid-row: 1 / 5;
			grid-column: 1 / 2;
			
			ul{
				max-width: 90%;
				margin:0 auto;

			}
		}
		
		#imageFeature{
			grid-row: 1 / 5;
			grid-column: 2 / 3;

			img{
				height: 750px;
				width: auto;
			}
		}
	}	

	#proccess{
		max-width: 75%;
		margin: 7rem auto 4rem;

			#imgTitle{

					h2{
						margin: 0 25%;
					}

					img{
						max-width: 40%;
					}
				}

			#proccesses{
					
				.box{
					margin: 0 auto 1rem;
					max-width: 84%;
			}
		}
	}

	#pageFooter{
			
			footer{	
				padding: 5rem 0;
					#footerBox{	
						grid-template-columns: 20% 15% 20% 20% 15% 20%;
						max-width: 75%;

						h4{	
							font-size: 2rem;
							padding: 0 20% 0 5%;
						}
					}
				}
			}
}

