
$violet : #ac00e6;
$fuentePrincipal: 'Josefin Sans', sans-serif;
$fuenteSecundaria: 'Roboto', sans-serif;
$colorTitulo: #43414e;
$colorParrafo: #6e7076;
$colorFondo : #600080;

body{
	margin: 0;
}

h1, h2, h3, h4, h5{
	color: $colorTitulo;
	font-family: $fuentePrincipal;
}

p{
	color: $colorParrafo;
	font-family: $fuenteSecundaria;
}

ul{
	font-family: $fuentePrincipal;
}





#header{
	nav{
		padding: 1.75rem 2.3rem 0 2.25rem;
		display: flex;
		justify-content: space-between;
		align-items: center;

		h1{
			font-size: 1rem;
		}

		ul{
			display: none;
		}
	}
}

	#hero{
		margin-top: 2rem;

		.textContainer{
			
			max-width: 80%;
			margin: 0 auto;
				h1{
					font-size: 1.7rem;
				}
				p{
					font-size: 1.1rem;
					line-height: 1.6rem;
				}

				button{
					font-family: $fuentePrincipal;
					font-size: .8rem;
					border-radius: 6px;
					background-color: $violet;
					padding: 1.1rem 1.7rem;
					color: #fff;
					border: none;
					text-transform: uppercase;
					cursor: pointer;
				}
			}

		.imgContainer{
			margin-top: 3rem;

			img{
				max-width: 100%;
			}
		}
	}

	#services{
		margin:0;
		margin-top: 5rem;
		margin-bottom: 3rem;
		
		#titleContainer{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			h2{
				font-size: 28px;
				margin:0;
			}

			p{
				font-size: 16px;
				margin: .3rem auto;
			}
		}

		#iconsContainer{
			margin-top: 3rem;

  			.box{
  				align-items: center;
  				justify-content: center;
  				display: flex;
  				flex-direction: column;
  				padding-bottom: 2rem;
	  			img{
				
				}
				h3{
					margin: 2rem 0 .5rem;
				}

				p{
					max-width: 70%;
					font-size: 16px;
					line-height: 26px;
					text-align: center;
					margin: .3rem 0;
				}
  			}
		}
	}

	#features{
		max-width: 90%;
		display: flex;
		flex-direction: column;
		margin: 0 auto;


		#textFeature{
			h2{
				font-size: 28px;
				text-align: center;
				padding: 0 1rem;
			}
			ul{
				font-family: $fuenteSecundaria;
				color: $colorParrafo;
				list-style: none;
				padding-left: 0px;
				max-width: 80%;
				margin:0 auto;

				li{
					padding: .5rem 0px;
					line-height: 1.5rem;

				}
			
				.iconoOK {
					  
				}
					
				.iconoOK::before{
					  font-family: "Font Awesome 5 Free";
					  content: "\f058";
				  	  padding-right: 1rem;
				  	  color: $violet;
				}
			}
		}
		
		#imageFeature{
		
			img{
				max-width: 100%;
			}
		}
	}

	#prices{
		background-color: $colorFondo;
		margin-top: 3rem;

		h2{
			font-size: 28px;
			text-align: center;
			color: #fff;
			padding-top: 5rem;
		}

		.container{
			padding-top: 0rem;
			padding-bottom: 3rem;
			color: #fff;
			display: flex;
			flex-direction: column;

			.boxPrice{
				display:flex;
				flex-direction: column;
				align-items: center;
				margin: 2rem auto 2rem;

				h5{
					color: #fff !important;
					margin: 1rem 0;
				}

				.priceNumber{
					font-size: 58px;
					font-weight: 700;
					margin: .5rem 0;
					color: #d24dff;
				}

				ul{
					list-style: none;
					padding-left: 0;
					text-align: center;

					li{
						margin: .7rem 0;
					}
				}

				button{
					font-family: $fuenteSecundaria;
					font-size: .8rem;
					border: 2px solid #fff;
					border-radius: 33px;
					background-color: transparent;
					padding: 20px 35px;
					color: #fff;
				}
			}
		}
	}

	

	@media screen and (min-width:600px){
		#header{

			nav{
				max-width: 80%;
				margin:0 auto;
			}
		}

		#hero{
		margin-top: 5rem;

		.textContainer{
			
			max-width: 80%;
			}

		.imgContainer{
			margin-top: 5rem;
		}
	}

	#features{
		max-width: 85%;


		#textFeature{
			h2{
				font-size: 28px;
				text-align: center;
				padding: 0 1rem;
			}
			ul{
				max-width: 50%;			
			}
		}
		
		#imageFeature{
			display: flex;
			justify-content: center;

			img{
				max-width: 100%;
			}
		}
	}
}

@media screen and (min-width:600px) and (max-width: 1024px) and (orientation: landscape) {
	h1{
	color: red;
	}
}


@media screen and (min-width:768px) {

	#header{
	nav{
		max-width: 85%;

		i{
			display: none;
		}

		ul{
			display: flex;
			width: 25%;
			margin-right: 5%;
			justify-content: space-between;
			list-style: none;

			li{
		
				font-size: .9rem;
				font-weight: 700;

				a{
					text-decoration: none;
					color: $violet;
					cursor: pointer;
				}
			}
		}
	}
}


	#hero{
		display: grid;
		grid-template-columns: 7% 38% 55%;
		grid-template-rows: 25% 25% 25% 25%;
		max-width: 100%;
		margin: 5rem auto 0;

		.textContainer{
			grid-column: 2 / 3;
			grid-row: 1 / 5;
			max-width: 100%;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			justify-content: center;


				h1{
					margin: 1rem auto 0 auto;
				}
				p{

				}

				button{
					font-family: 'Merriweather Sans', sans-serif;
					font-size: .8rem;
					border-radius: 6px;
					background-color: $violet;
					padding: 1rem 1.4rem;
					color: #fff;
					border: none;
					text-transform: uppercase;
					max-width: 9rem;
				}
			}

		.imgContainer{
			grid-column: 3 / 4;
			grid-row: 1 / 5;
			margin-top: 0rem;
			display: flex;
			flex-direction: column;
			justify-content: center;

			img{
				max-width: 100%;
			}
		}
	}

	#services{
		margin:0;
		margin-top: 7rem;
		margin-bottom: 6rem;
		
		#titleContainer{

			h2{
				font-family: $fuentePrincipal;
				font-size: 28px;
				margin:0;
			}

			p{
				font-family: $fuenteSecundaria;
				font-size: 16px;
				margin: .3rem auto;
			}
		}

		#iconsContainer{
			display: grid;
			grid-template-columns: 33.3% 33.3% 33.3%;
			grid-template-rows: 1fr;
  			max-width: 95%;
  			margin: 5rem auto 0;

  			.box{
  				
  				padding-bottom: 0rem;
	  			img{
				
				}

				h3{
				}

				p{

				}
  			}

  			#box1{
  				grid-column:  1 / 2;
  				grid-row: 1 / 2;
  			}	

  			#box2{
  				grid-column:  2 / 3;
  				grid-row: 1 / 2;
  			}	

  			#box3{
  				grid-column:  3 / 4;
  				grid-row: 1 / 2;
  			}	
		}
	}

	#features{
		max-width: 90%;
		display: grid;
		grid-template-columns: 40% 60%;
		grid-template-rows: 25% 25% 25% 25%;
		margin: 0 auto 3rem auto;


		#textFeature{
			display: flex;
			flex-direction: column;
			justify-content: center;
			grid-row: 1 / 5;
			grid-column: 1 / 2;
			
			ul{
				max-width: 80%;
			}
		}
		
		#imageFeature{
			grid-row: 1 / 5;
			grid-column: 2 / 3;
		}
	}

	#prices{

		h2{
			font-size: 32px;
		}

		.container{
			padding-top: 0rem;
			padding-bottom: 3rem;
			max-width: 90%;
			margin:0 auto;
			color: #fff;
			display: grid;
			grid-template-columns: 50% 50%;
			grid-template-rows: 50% 50%;

			.boxPrice{
				display:flex;
				flex-direction: column;
				align-items: center;
				margin: 2rem auto 2rem;
			}
		}
	}
}

@media screen and (min-width:1024px) {

	#header{
		nav{
			max-width: 85%;
		}
	}
		
	#hero{
		display: grid;
		grid-template-columns: 7% 38% 55%;
		grid-template-rows: 25% 25% 25% 25%;
		max-width: 100%;
		margin: 5rem auto 0;

		.textContainer{
			grid-column: 2 / 3;
			grid-row: 1 / 5;

			h1{
				font-size: 2.3rem;
				line-height: 3rem;
				margin: 1rem auto 0 auto;
				padding-right: 4rem;
			}
			p{
				font-size: 1rem;
				line-height: 1.5rem;
				padding-right: 6rem;
			}
		}
	}

	#prices{

		h2{
			font-size: 32px;
		}

		.container{
			padding-top: 0rem;
			padding-bottom: 3rem;
			max-width: 90%;
			margin:0 auto;
			color: #fff;
			display: grid;
			grid-template-columns: 50% 50% 50% 50%;
			grid-template-rows: 100%;

			.boxPrice{
				display:flex;
				flex-direction: column;
				align-items: center;
				margin: 2rem auto 2rem;
			}

			#boxPrice1{
				grid-column: 1 / 2;
				grid-row: 1 / 2;
			}
			#boxPrice2{
				grid-column: 2 / 3;
				grid-row: 1 / 2;
			}
			#boxPrice3{
				grid-column: 3 / 4;
				grid-row: 1 / 2;
			}
			#boxPrice4{
				grid-column: 4 / 5;
				grid-row: 1 / 2;
			}
		}
	}
}

@media screen and (min-width:1200px) {

		#hero{

		.textContainer{

				h1{
					font-size: 3rem;
					line-height: 3.5rem;
					margin: 1rem auto 0 auto;
					padding-right: 0rem;
				}
				p{
					font-size: 1.3rem;
					line-height: 1.75rem;
					padding-right: 0rem;
				}
			}
		}

		#services{

			#iconsContainer{
				max-width: 80%;
			}
		}

		#features{
			column-gap: 1.5rem;
			max-width: 1000px;
		}
}

@media screen and (min-width:1440px) {
	

	#header{

			nav{
				padding: 0;
				display: flex;
				justify-content: space-between;
				align-items: center;
				grid-column: 2 / 3;
				grid-row: 1 / 2;
				width: 100%;
				margin-top: 1.5rem;
			}
		}
	
	
	#hero{
		margin-top: 10rem;
		max-width: 95%;
		grid-template-columns: 5% 35% 55%;

		.textContainer{
			grid-column: 2 / 3;
			grid-row: 1 / 5;
			max-width: 85%;


				h1{
					font-size: 2.5rem;
					line-height: 3.5rem;
					margin: -3rem auto 0 auto;
				}
				p{
					font-size: 1.4rem;
					line-height: 2.5rem;
					color: #4e5867;
					padding-right: 3rem;
				}				
			}

		.imgContainer{
			grid-column: 3 / 4;
			grid-row: 1 / 5;
			margin-top: 0rem;
			display: flex;
			flex-direction: column;
			justify-content: center;

			img{
				max-width: 95%;
			}
		}
	}

	#services{

		#iconsContainer{
			max-width: 76%;
		}
	}

	#features{
		max-width: 1200px;

	#textFeature h2{
				margin: 0 0 1rem 0;
				font-size: 34px;
			}

	#textFeature ul{
		font-size: 20px;

			li{
				padding: 1rem 0;
			}
		}
	}
}



@media screen and (min-width:1600px){

	#header{

		nav{

			ul{
				display: flex;
				width: 15%;
				margin-right: 5%;
				justify-content: space-between;
				list-style: none;

				li{
					font-family: 'Merriweather Sans', sans-serif;
					font-size: .9rem;
					font-weight: 700;
					color: $violet;
				}
			}
		}
	}

	#hero{
		margin-top: 6rem;
	}



	#features{
		max-width: 1300px;
		display: grid;
		grid-template-columns: 40% 60%;
		grid-template-rows: 25% 25% 25% 25%;
		margin: 0 auto 12rem auto;


		#textFeature{
			max-width: 80%;
			
			grid-row: 1 / 5;
			grid-column: 1 / 2;
			
			ul{
				max-width: 90%;
				margin:0 auto;

			}
		}
		
		#imageFeature{
			grid-row: 1 / 5;
			grid-column: 2 / 3;

			img{
				height: 750px;
				width: auto;
			}
		}
	}	

	}

