
$violet : #ac00e6;

#header{
	nav{
		padding: 1.75rem 2.3rem 0 2.25rem;
		display: flex;
		justify-content: space-between;
		align-items: center;

		h1{
			font-family: 'Montserrat', sans-serif;
			font-size: 2rem;
		}

		ul{
			display: none;
		}
	}
}

	#hero{
		margin-top: 2rem;

		.textContainer{
			
			max-width: 80%;
			margin: 0 auto;
				h1{
					font-family: 'Montserrat', sans-serif;
					font-size: 1.7rem;
				}
				p{
					font-family: 'Merriweather Sans', sans-serif;
					font-size: 1.1rem;
					line-height: 1.6rem;
				}

				button{
					font-family: 'Merriweather Sans', sans-serif;
					font-size: .8rem;
					border-radius: 6px;
					background-color: $violet;
					padding: 1.1rem 1.7rem;
					color: #fff;
					border: none;
					text-transform: uppercase;
				}
			}

		.imgContainer{
			margin-top: 3rem;

			img{
				max-width: 100%;
			}
		}
	}
	

	@media screen and (min-width:600px){
		#header{

			nav{
				max-width: 80%;
				margin:0 auto;
			}
		}

		#hero{
		margin-top: 5rem;

		.textContainer{
			
			max-width: 80%;
			}

		.imgContainer{
			margin-top: 5rem;
		}
	}
	
	}

@media screen and (min-width:600px) and (max-width: 1024px) and (orientation: landscape) {
	h1{
	color: red;
	}
}


@media screen and (min-width:768px) {

	#header{
	nav{
		max-width: 85%;



		#logo{
			height: 40px;
			width: 40px;
		}

		i{
			display: none;
		}

		ul{
			display: flex;
			width: 25%;
			margin-right: 5%;
			justify-content: space-between;
			list-style: none;

			li{
				font-family: 'Merriweather Sans', sans-serif;
				font-size: .9rem;
				font-weight: 700;
				color: $violet;
			}
		}
	}
}


	#hero{
		display: grid;
		grid-template-columns: 7% 38% 55%;
		grid-template-rows: 25% 25% 25% 25%;
		max-width: 100%;
		margin: 5rem auto 0;

		.textContainer{
			grid-column: 2 / 3;
			grid-row: 1 / 5;
			max-width: 100%;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			justify-content: center;


				h1{
					margin: 1rem auto 0 auto;
				}
				p{

				}

				button{
					font-family: 'Merriweather Sans', sans-serif;
					font-size: .8rem;
					border-radius: 6px;
					background-color: $violet;
					padding: 1rem 1.4rem;
					color: #fff;
					border: none;
					text-transform: uppercase;
					max-width: 9rem;
				}
			}

		.imgContainer{
			grid-column: 3 / 4;
			grid-row: 1 / 5;
			margin-top: 0rem;
			display: flex;
			flex-direction: column;
			justify-content: center;

			img{
				max-width: 100%;
			}
		}
	}
}

@media screen and (min-width:1024px) {

	#header{
		nav{
			max-width: 85%;
		}
	}
		
		#hero{
		display: grid;
		grid-template-columns: 15% 30% 55%;
		grid-template-rows: 25% 25% 25% 25%;
		max-width: 100%;
		margin: 5rem auto 0;

		.textContainer{
			grid-column: 2 / 3;
			grid-row: 1 / 5;


				h1{
					font-size: 2.6rem;
					line-height: 3.5rem;
					margin: 1rem auto 0 auto;
				}
				p{
					font-size: 1.15rem;
					line-height: 1.75rem;
				}
			}
		}
}

@media screen and (min-width:1440px) {
	

	#header{
			display: grid;
			grid-template-columns: 10% 80% 10%;
			grid-template-rows: 1fr;

			nav{
				padding: 0;
				display: flex;
				justify-content: space-between;
				align-items: center;
				grid-column: 2 / 3;
				grid-row: 1 / 2;
				width: 100%;
			}
		}
	
	
	#hero{
		margin-top: 10rem;
		max-width: 95%;
		grid-template-columns: 13% 32% 55%;

		.textContainer{
			grid-column: 2 / 3;
			grid-row: 1 / 5;


				h1{
					font-size: 3.6rem;
					line-height: 4.5rem;
					margin: 1rem auto 0 auto;
				}
				p{
					font-size: 1.4rem;
					line-height: 1.9rem;
					color: #4e5867;
				}				
			}

		.imgContainer{
			grid-column: 3 / 4;
			grid-row: 1 / 5;
			margin-top: 0rem;
			display: flex;
			flex-direction: column;
			justify-content: center;

			img{
				max-width: 90%;
			}
		}
	}
}

@media screen and (min-width:1600px){
		#hero{
		margin-top: 6rem;
		}
}
